@model TestDatabase.Entities.Task
<script src="~/Scripts/jquery-1.8.2.min.js"></script>

@{
    ViewBag.Title = "ChosenTask";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chosen task</h2>

<fieldset>
    <legend>Task</legend>

     <div class="display-label">
        @Html.DisplayNameFor(model => model.Name):
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Memory), mb.:
        @Html.DisplayFor(model => model.Memory)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Time), sec.:
        @Html.DisplayFor(model => model.Time)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description):
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Result):
        @Html.TextAreaFor(model => model.Result)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price):
        @Html.DisplayFor(model => model.Price)
    </div>

</fieldset>

<div>
    <textarea rows="30" cols="100" id="code">
using System;
using System.Threading;
namespace ConsoleApplication1
{
    class Program
    {
        static void Main()
        {
            int a = Convert.ToInt32(Console.ReadLine());
            int b = Convert.ToInt32(Console.ReadLine());
            Console.WriteLine(a * b);
            Thread.Sleep(2000);
        }
    }
}
    </textarea>
</div>
<div>
    <textarea rows="1" cols="30" id="result"></textarea>
</div>

<p>
    <button id="process">Process</button>
    <button id="refresh">Refresh</button>
</p>

<script type="text/javascript">

    $('#process').click(function(e) {
        e.preventDefault();

        var params = { Id: '@Model.Id', Code: $('#code').val() };
        var jsonParams = JSON.stringify(params);
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChosenTask", "Test")',
            data: jsonParams,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#result').text(data);
            },
            error: function () {
                $('#result').text("Testing");
            }
        });
    });
    
    $('#refresh').click(function (e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckTask", "Test")',
            traditional: true,
            success: function (data) {
                $('#result').text(data);
            },
            error: function () {
                $('#result').text("Testing");
            }
        });
    });
</script>
@Html.ActionLink("Back to tasks", "Index")