@using TestDatabase.Entities
@model IEnumerable<TestDatabase.Entities.Task>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasks</h2>
@Html.Encode(((User) Session["user"]).Name)
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memory), mb.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time), sec.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>Task state
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @{
                    if (((User) Session["user"]).SolvedTasks.Any(t => t.Id == item.Id))
                    {
                        @Html.Encode("Done")
                        continue;
                    }
                    @Html.ActionLink("Choose", "ChosenTask", new {item.Id})
                }
            </td>

        </tr>
    }

</table>
@Html.ActionLink("Watch statistics", "Statistics")
@Html.ActionLink("Log out", "LogIn", "Account")
