@using Microsoft.Practices.Unity
@using MvcTestSystem.Unity
@using MvcTestSystem.UsersInfoAccess
@using TestDatabase.Entities
@using TestDatabase.Repository.Abstract

@model IEnumerable<TestDatabase.Entities.User>

@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistics</h2>
@{
    ITaskRepository taskRepository = MvcUnityContainer.Container.Resolve<ITaskRepository>();
    IEnumerable<Task> tasks = taskRepository.GetAll().AsEnumerable();
}
<table>
    <tr>
        <th>Users/Tasks</th>
        @{
            foreach (Task task in tasks)
            {
            <th>
                @Html.ActionLink(task.Name, "TaskDetails", new { task.Id })
            </th>
            }
            <th>Total</th>
            <th></th>
        }
    </tr>
    <tr>
        @foreach (User item in Model)
        {
            <tr>
                <td>
                    @Html.Encode(item.Name)
                </td>

                @foreach (Task task in tasks)
                {
                    <td>
                        @{
                            if (item.GetSolvedTasks().Any(t => t.Id == task.Id))
                            {
                                @Html.Encode("Done")
                                continue;
                            }
                            @Html.Encode('-')
                        }
                    </td>
                }
                <td>@item.GetSolvedTasks().Sum(t => t.Price)</td>
                <td>
                    @Html.ActionLink("Delete", "DeleteUser", new {item.Id})
                </td>

            </tr>

        }
    </tr>

    <tr>
        <th></th>
        @{foreach (Task task in tasks)
          {
              <td>
                  @Html.ActionLink("Delete", "DeleteTask", new {task.Id})
              </td>
          }
            <th></th>
            <th></th>
        }
    </tr>
    </table>
@Html.ActionLink("Create user", "CreateUser")
@Html.ActionLink("Create task", "CreateTask")
@Html.ActionLink("Log out", "LogIn", "Account")
